<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- Formulario reactivo con [formGroup] -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Usuario</mat-label>
            <input matInput formControlName="username" placeholder="Ingresa tu usuario" />
            <mat-error *ngIf="loginForm.get('username')?.invalid">El usuario es requerido</mat-error>
          </mat-form-field>
  
          <button mat-raised-button color="primary" type="submit" class="login-button">
            Iniciar sesión
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>